/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
  border-radius: 5px;
  //border: 0.1px solid #fff; //none;
  border-bottom: 0.1px solid #fff;
  border-top: 0.1px solid #fff;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 100px #fff;
  outline: none;
  color: #fff;
}
.form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  //display: block;
}
.form input {
  height: 35px;
  outline: none;
  width: 19rem;
  margin-left: 0;
}

.form a {
  color: #fff;
  text-decoration: none;
}
#loginButton {
  height: 55px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  //padding: 3rem;
}
.loginBtn {
  padding: 1rem;
}
.topSpacer {
  height: 20%;
}
.bottomSpacer {
  height: 1rem;
}
.full-screen-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/bg-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
//https://res.cloudinary.com/dmglopmul/image/upload/v1609475605/projectPhotos/mariposaweb/mariposaCounty.jpg
//images/bg-2.jpg
