.headerButtonLayout {
  margin: 1rem auto 0 auto;
  width: 35%;
  text-align: center;
  font-size: 1.5rem;
}
.chartLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#A {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #4caf50;
  transform: all 0.3s ease-in-out;
}

#A:active {
  background-color: darkblue;
  box-shadow: 0 5px #3e8e41;
  transform: translateY(4px);
}

@media screen and (max-width: 425px) {
  .headerButtonLayout {
    font-size: 1.2rem;
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .headerButtonLayout {
    font-size: 1rem;
  }
}
